<h1>Ember CSS Properties</h1>

<div class="box" style={{css-properties myStyles}}></div>

<div data-test-malicious style={{css-properties width=maliciousValue}}>
  Foobar
</div>

<div class="box" style={{css-properties background-color="red"}}>
  background-color='red'
</div>

<div
  class="box"
  style={{css-properties background-color="green" color="white"}}
>
</div>

<div class="box" style={{css-properties background-image="url(data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7)"}}>
  background-image
</div>
